rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.role == "admin";
    }

    function isUser() {
      return isSignedIn() && request.auth.token.role == "user";
    }

    match /students/{uid} {

      // Allow admin to query all students
      // Allow unauthenticated query for LOGIN ONLY (limit=1)
      allow list: if 
          isAdmin() ||
          (request.auth == null && request.query.limit == 1);

      // Allow student to read their own document
      allow get: if 
          isAdmin() ||
          (isUser() && request.auth.token.student_id == uid);

      // Writes admin only
      allow create, update, delete: if isAdmin();
    }

    // Default deny everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
